*{
    font-family: Arial, Helvetica, sans-serif ;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
nav{
    background-color: black;
    padding: 12px;
}
ul{
    display: flex;
    flex-direction: row;
}
li{
    list-style: none;
    margin: 3px 20px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
body::before{
    opacity: 0.5;
    content: " ";
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    background-size: cover;
    background: url('./static/bg.jpg')  no-repeat center center ;
}
.container{
    margin: 15px auto;
    max-width: 70%;
}
input,textarea{
    display: block;
    margin: 15px auto;
    padding: 3px;
    width: 60%;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
}
.btn{
    margin: 4px auto;
    padding: 5px 12px;
    display: block;
    background: gray;
    font-size: 15px;
    color: white;
    font-weight: bold;
    border: 2px solid black;
    border-radius:8px;
    cursor: pointer;


}