<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>plain html in pug</title> -->
    <title>#{title}</title>
    style
        include ../static/style.css
</head>
<body>
    <nav>
        <ul>
            <li><a href="/"> Home</a></li>
            <li><a href="/"> About</a></li>
            <li><a href="/"> Contact Us</a></li>
        </ul>
    </nav>
    <div class="container">

        <h1>Get Gym Membership Now For 1000rs only</h1>
        <!-- <p>
            | #{content}
            plain html in pug
        </p> -->
        <form action="/" method="post" id="contact">
            <input name="name"  id="name" placeholder="Enter your name- ">
            <input  name="age" id="age" placeholder="Enter your age- ">
            <input  id="gender" name="gender" placeholder="Enter your gender- ">
            <textarea name="address" id="address" cols="30" rows="10" placeholder="Your address"></textarea>
            <textarea name="more" id="more" cols="30" rows="10" placeholder="More about you-"></textarea>
            <button class="btn">Submit
            </button>
        </form>
        
    </div>
</body>
</html>